@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.desktop {
  display: none;
}

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

body {
  background-color: var(--dark-blue);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  height: 100vh;
}

.adviceContainer {
  position: relative;
  background-color: var(--dark-grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 200px;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 2rem 1rem;
  text-align: center;
}

.adviceContainer img.mobile,
.adviceContainer img.desktop {
  margin-bottom: 1rem;
}

#advice {
  font-size: 28px;
  margin: 1rem 0;
}

#adviceTitle,
#adviceId {
  color: var(--neon-green);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.65rem;
}

.dice {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -1.5rem;
  background-color: var(--neon-green);
  padding: 0.75rem;
  border-radius: 50%;
  cursor: pointer;
}

.dice:hover {
  box-shadow: 0 0 25px 10px hsla(150, 100%, 66%, 0.2);
}

@media screen and (min-width: 500px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .adviceContainer {
    max-width: 476px;
  }
}
